![](https://i.imgur.com/YX6UATs.png)

### Desafio 8

Escreva um script Python para encontrar as 10 palavras mais longas em um arquivo de texto.
O arquivo .txt está localizado na mesma pasta do projeto (**texto.txt**).

In [0]:
# Seu código

In [1]:
import pandas as pd

In [53]:
data = pd.read_csv('texto.txt', sep=';', header=None)

In [55]:
data.head()

                                                   0
0  What is Python language?                      ...
1  Python is a widely used high-level, general-pu...
2                    languages such as C++ or Java.
3  Python supports multiple programming paradigms...

In [63]:
data[0][0]

'What is Python language?                                                '

In [68]:
c = data[0][0] + data[0][1] + data[0][2] + data[0][3]

In [72]:
# c.split()

In [76]:
lenght_words = []
long_words = []

for word in c.split():
    lenght_words.append(len(word))

In [87]:
dict_words = {}

for word in c.split():
    dict_words.update({word:len(word)})

In [101]:
df = pd.DataFrame.from_dict(dict_words, orient='index', columns=['lenght'])
df

           lenght
What            4
is              2
Python          6
language?       9
a               1
...           ...
who             3
are             3
familiar        8
with            4
Python.         7

[81 rows x 1 columns]

In [112]:
df = df.sort_values(['lenght'], ascending=[False])

In [110]:
df.head(20)

                  lenght
object-oriented,      16
general-purpose,      16
comprehensive         13
intermediate)         13
readability,          12
interpreted,          12
language.Its          12
programmers           11
high-level,           11
programming           11
library.The           11
paradigms,            10
management            10
procedural            10
functional            10
questions.            10
emphasizes            10
philosophy            10
imperative            10
languages              9